body{
    font-family: 'Open Sans', arial, sans-serif;
}

/*** Primary Containers ***/
#map {
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
	height: calc(100% - 56px);
  z-index: 1;
}

/** Sidebar **/
.sidebar.leaflet-control {
	position: fixed;
	padding: 5px 20px 5px 20px;
	font: 20px/22px Arial, Helvetica, sans-serif;
	background: rgba(255,255,255, 1);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	text-align:left;
	left:0px;
	top: calc(100% - 56px) + 5px;
  width: 20vw;
}
/* Styling within sidebar */
#instruction {
  margin: 5px 0 30px 0;
  font-size: 2.5vh;
}
.addCat {
  margin: 10px 1px 0 1px;
}
.removeCat {
  margin: 10px 1px 0 1px;
}
.assessCat {
  margin: 20px 1px 10px 1px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/** Results **/
.results {
  z-index: 2;
	position: absolute;
	padding: 10px 40px 5px 40px;
	font: 18px/20px Arial, Helvetica, sans-serif;
	background: rgba(255,255,255, 1);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 2px;
	text-align:left;
	left: 15vw;
	bottom: 0;
  width: 70vw;
}
#results-title {
  font-size: 4vh;
  text-align: center;
}
.results-table {
  max-height: 30vh;
  overflow: auto;
}
th, td, p, input {
  font:14px Verdana;
}
table {
  margin: 0 10px 0 0;
}
table, th, td 
{
  border: solid 1px #DDD;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight:bold;
}

/* Popup Info */
.popup-feature-name {
    font-size: 22px;
    line-height: 20px;
}
.popup-detail {
    font-size: 14px;
    line-height: 2px;
}

/*** L.easyButton ***/
.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  padding: 0px;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 27px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}
.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}
.leaflet-bar button:hover {
  background-color: #f4f4f4;
}
.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}
.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}
.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* Modal that activates if user is on mobile device*/
#mobile-screen {
  background-color: #e6e6e6;
}
#mobile-screen-content {
  background-color:#b6b6b6;
  text-align: center;
  margin: auto;
  width: 80vw;
}